#ignore all except...
*

#included filenames
!.gitignore
!README.md
!*.d
!*.dide2*.png
!*.dide2*.ico
!*.drawio
!Dlang grammar official.txt
!DLang grammar extra data.txt
!g.bat
!deploy.bat
!build_dide.bat
!*.ico

#included subdirectories
!assets/
!assets/icons/
!assets/icons/*

